<form id="login-form" method="post">
  <div id="credentials" class={{this.credentialsClass}}>
    <div class="input-group" {{did-insert this.passkeyConditionalLogin}}>
      <Input
        @value={{@loginName}}
        @type="email"
        id="login-account-name"
        class={{value-entered @loginName}}
        autocomplete={{if @canUsePasskeys "username webauthn" "username"}}
        autocorrect="off"
        autocapitalize="off"
        disabled={{@showSecondFactor}}
        autofocus="autofocus"
        tabindex="1"
        {{on "input" @loginNameChanged}}
        {{on "keydown" this.loginOnEnter}}
      />
      <label class="alt-placeholder" for="login-account-name">
        {{i18n "login.email_placeholder"}}
      </label>
    </div>
    <div class="input-group">
      <PasswordField
        @value={{@loginPassword}}
        @type={{if this.maskPassword "password" "text"}}
        class={{value-entered @loginPassword}}
        id="login-account-password"
        autocomplete="current-password"
        maxlength="200"
        @capsLockOn={{this.capsLockOn}}
        disabled={{this.disableLoginFields}}
        tabindex="1"
        {{on "keydown" this.loginOnEnter}}
      />
      <label class="alt-placeholder" for="login-account-password">
        {{i18n "login.password"}}
      </label>
      <div class="login__password-links">
        <a
          href="/password-reset"
          id="forgot-password-link"
          tabindex="3"
          {{on "click" (fn @handleForgotPassword)}}
        >
          {{i18n "forgot_password.action"}}
        </a>
        {{#if @loginPassword}}
          <TogglePasswordMask
            @maskPassword={{this.maskPassword}}
            @togglePasswordMask={{this.togglePasswordMask}}
            tabindex="3"
          />
        {{/if}}
      </div>
      <div class="caps-lock-warning {{unless this.capsLockOn 'hidden'}}">
        {{d-icon "exclamation-triangle"}}
        {{i18n "login.caps_lock_warning"}}</div>
    </div>
  </div>
</form>