<div class="forgot-password-body">
  <div class="header">{{i18n "forgot_password.title"}}</div>
  <form>
    {{#if this.offerHelp}}
      {{html-safe this.offerHelp}}
    {{else if this.siteSettings.hide_email_address_taken}}
      <label for="username-or-email">
        {{i18n "forgot_password.invite_no_username"}}
      </label>
      <input
        {{on "input" this.updateEmailOrUsername}}
        value={{this.emailOrUsername}}
        placeholder={{i18n "email"}}
        type="text"
        id="username-or-email"
        autocorrect="off"
        autocapitalize="off"
      />
    {{else}}
      <p>{{i18n "forgot_password.invite"}}</p>
      <input
        {{on "input" this.updateEmailOrUsername}}
        value={{this.emailOrUsername}}
        placeholder={{i18n "login.email_placeholder"}}
        type="text"
        id="username-or-email"
        autocorrect="off"
        autocapitalize="off"
      />
    {{/if}}
    {{#if this.flash}}
      <div class="flash-warning">
        {{~this.flash~}}
      </div>
    {{/if}}

    {{#if this.offerHelp}}
      <div class="button-container">
        <DButton
          @action={{@closeModal}}
          @label="forgot_password.button_ok"
          type="submit"
          class="btn-large btn-primary"
          id="button-ok"
        />
        {{#unless this.helpSeen}}
          <DButton
            @action={{this.help}}
            @label="forgot_password.button_help"
            @icon="question-circle"
            class="btn-large"
            id="button-help"
          />
        {{/unless}}
      </div>
    {{else}}
      <DButton
        @action={{this.resetPassword}}
        @disabled={{this.submitDisabled}}
        @label="forgot_password.reset"
        type="submit"
        class="btn-primary forgot-password-reset"
      />
    {{/if}}
  </form>
</div>