<div class="landing-page">
    <div id="landing-page-middle">
        {{outlet}}
        <img src="plugins/discourse-landing-page/images/default-image.png" alt="" style="max-width: 100%">
    </div>
    <div id="landing-page-footer">
        <div class="content">
            <div id="left-side">
                <div class="footer-text">{{ i18n 'discourse_landing_page.copyright' }}</div>
            </div>
            <div id="right-side">
                <a href="#" class="footer-text">
                    <p>{{ i18n 'discourse_landing_page.footer_text_1' }}</p>
                </a>
                <a href="#" class="footer-text">
                    <p>{{ i18n 'discourse_landing_page.footer_text_2' }}</p>
                </a>
                <a href="#" class="footer-text">
                    <p>{{ i18n 'discourse_landing_page.footer_text_3' }}</p>
                </a>
                <a href="#" class="footer-text">
                    <p>{{ i18n 'discourse_landing_page.footer_text_4' }}</p>
                </a>
                <a href="#" class="footer-text">
                    <p>{{ i18n 'discourse_landing_page.footer_text_5' }}</p>
                </a>
            </div>
        </div>
    </div>
</div>